@font-face {
  font-family: 'articon';
  src:
    url('./fonts/iconfont.ttf?jlf38c') format('truetype'),
    url('./fonts/iconfont.woff?jlf38c') format('woff'),
    url('./fonts/iconfont.svg?jlf38c#iconfont') format('svg');
}

[class^="art-icon-"], [class*=" art-icon-"] {
  display: inline-block;
  font-family: 'articon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.art-icon-round_close:before {
  content: "\e900";
}
.art-icon-round_check:before {
  content: "\e901";
}
.art-icon-loading:before {
  content: "\e902";
}
.art-icon-close:before {
  content: "\e903";
}
.art-icon-arrow-left:before {
  content: "\e904";
}
.art-icon-arrow-right {
  transform: rotate(180deg);
}
.art-icon-arrow-up {
  transform: rotate(90deg);
}
.art-icon-arrow-down {
  transform: rotate(270deg);
}
.art-icon-loading {
  transform-origin: center;
  animation: rotate .8s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg)
  } 
  to {
    transform: rotate(360deg)
  }
}