// primary color
$color-primary: #2d8cf0;
$color-primary-light: #5cadff;
$color-primary-dark: #2b85e4;

// sub color
$color-sub-info: #2d8cf0;
$color-sub-success: #19be6b;
$color-sub-warning: #ff9900;
$color-sub-error: #ed3f14;

// neutral color 
$color-neutral-title: #2B333B;
$color-neutral-content: #444;
$color-neutral-sub: #80848f;
$color-neutral-border: #ebebeb;
$color-neutral-gray: #f5f5f5;
$color-neutral-light: #ffffff;
$color-neutral-transparent: rgba(0, 0, 0, 0);

// box shadow
$box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

// border radius
$border-radius: 3px;

// font size
$font-size-large-xxxx: 30px;
$font-size-large-xxx: 24px;
$font-size-large-xx: 20px;
$font-size-large-x: 18px;
$font-size-large: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-small-x: 10px;

// icon size
$icon-size-large-xx: 36px;      
$icon-size-large-x: 24px;      
$icon-size-large: 20px;
$icon-size-normal: 16px;
$icon-size-small: 14px;